<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="毕业墙" icon="icon ion-home" href="#/tab/tab-xylist">
    <ion-nav-view name="tab-xylist">
    </ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="我的说说" icon="icon ion-heart" href="#/tab/tab-my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>

</ion-tabs>
